body {
    margin: 0%;
    padding: 0%;
   
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(65, 127, 181);
}

hr {
    width: 50rem;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: groove;
    border-radius: 0.5rem;
    padding: 3.5rem;
    color: white;
    background-color: #505091b3;
}

.sub {
    display: flex;
    justify-content: center;
}

.inp {
    display: flex;
    justify-content: center;
    width: 5rem;
}

.selector {
    display: flex;
    justify-content: center;
    width: 10.7rem;
    height: 1.5rem;
    color: #525354;
    border-radius: 0.3rem;
}

#btn {
    width: 10.7rem;
    height: 2.5rem;
    padding: 0.3rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    background-color: #ffcd90;
} 
  