body {
    margin: 0%;
    padding: 0%;
    background-color: black;
   
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #a99516;
}

hr {
    width: 50rem;
    
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: groove;
    border-radius: 0.5rem;
    padding: 3.5rem;
    color: white;
    background-color: #505091b3;
    margin-top: 5rem;
}

.sub {
    display: flex;
    justify-content: center;
}

.inp {
    display: flex;
    justify-content: center;
    width: 5rem;
}

.selector {
    display: flex;
    justify-content: center;
    width: 10.7rem;
    height: 1.5rem;
    color: #525354;
    border-radius: 0.3rem;
}

#btn {
    width: 10.7rem;
    padding: 5%;
    margin-top: 20%;
    border-radius: 0.5rem;
    background-color: #ffcd90;
}